*{
    margin:0;
}
body{
    color:white;
    background-color: hsl(240, 30%, 15%);
}
header{
    background-color: hsl(300, 30%, 15%);
    position: absolute;
    top: 0;
    width: 100%;
}
.navbar{
    font-size: 26px;
    display: flex;
}
.name{
    margin-left: 10px;  ;
}
ul{
    position:absolute;
    right: 0;
    margin-right: 20px;
}
li{
    margin-left: 10px;
    display: inline-block;
}
ul{
    list-style: none;
}